.titre1 {
    color: blue;
    text-align: center;
}

.sous {
    text-align: center;
}

.blog-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-image {
    width: 320px;
    padding: 5px;
    /* height: 50%; */
    border-radius: 32px;
}


.text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 6px;
}

.blog {
    width: 50%;
    height: 75px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: -38px;
    z-index: 1;
    position: relative;
    left: 50px;
}

.blog-im {
    margin: 17px;
}

@media(max-width:800px) {
    .blog-images {
        flex-direction: column;
        text-align: center;
    }

    .blog {
        left: 82px;
    }

    .blog-image {
        width: 90%;
    }

    .blog-im {
        margin: 9px;
    }

    .text {
        gap: 28px;
    }

}