.titre1 {
    color: blue;
    text-align: center;
}

.sous {
    text-align: center;
}

.blog-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-image {
    width: 350px;
    padding: 5px;
    /* height: 50%; */
    border-radius: 32px;
}


.text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.blog {
    width: 50%;
    height: 75px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: -38px;
    z-index: 1;
    position: relative;
    left: 50px;
}

@media(max-width:700px) {
    .blog-images {
        flex-direction: column;
    }
}