.contact-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    padding: 20px;
}

.contact-content {
    width: 60%;
}

.form-container {
    flex: 1;
    padding: 20px;
    background-color: #f7f7f7;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    height: 150px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.image-container {
    flex: 1;

    padding: 20px;
    background-color: #fff;

}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}


@media (max-width: 768px) {
    .contact-content {
        flex-direction: column-reverse;
    }

    .form-container,
    .image-container {
        flex: auto;
        width: 100%;
    }
}