.Projects {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    background-image: url(https://c1.wallpaperflare.com/preview/427/745/192/notebook-natural-laptop-macbook.jpg);
}

.proj {
    display: grid;
    color: white;
    justify-content: space-evenly;
    margin-left: 10px;
    width: 75%;
}

.coffee {
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.web {
    background-color: rgba(0, 153, 255, 0.699);
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(0, 110, 255);
    padding: 40px
}

.check {
    background-color: rgb(0, 140, 255);
    color: white;
    padding: 15px 25px;
    border: none;
    font-size: 0.9rem;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 15px;
}

@media(max-width:768px) {
    .Projects {
        flex-direction: column;
        align-items: center;
    }

    .proj {
        display: grid;
        grid-template-rows: repeat(0, 1fr);
        justify-items: center;
        gap: 12px;
    }

    .coffee {
        width: 40%;
    }
}