 /* CSS for header */
 header {
     background-color: #fff;
     color: white;
     padding: 2px 0;
     position: relative;
     text-align: center;
     height: 100%;
     width: 100%;
 }

 .flex-item {
     flex: auto;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: #fff;
     font-weight: 900;
     font-style: revert-layer;
     font-size: x-large;
 }

 .heads {
     display: flex;
     flex-wrap: nowrap;
     flex-direction: column;
 }

 .imgz {
     display: block;
     width: 70px;
     top: 10%;
     left: 10%;
     margin-left: 20px;
 }


 #polygon-image {
     background-image: url('./assets/HeroImage.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     border: 2px solid rgb(7, 7, 7);
     height: 70vh;
     clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 50% 100%, 0% 88%);
     filter: brightness(0.5);
 }

 .div1 {
     display: flex;
     background-color: #333;
     color: #fff;
 }

 nav {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     width: 100%;
     padding: 1px 0;
 }

 nav a {
     left: 20%;
     display: block;
     color: #fff;
     text-decoration: none;
     padding: 10px 20px;
 }

 nav a:hover {
     color: grey;
 }

 @media only screen and (max-width: 600px) {
     .nav {
         padding: 5px;
         display: flex;
         flex-direction: column;
         color: white;
     }

     nav a {
         margin-right: 80%;
         padding: 5px 10px;
     }

     .imgz {
         display: block;
         size: 2cm;
         height: max-content;
         margin-left: 10px;
     }

     #polygon-image {

         padding: 105px;
     }
 }