.foots {

    background-color: #333;
    color: #ff0;
}

.Flex_containerz {
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-items: center;
    column-gap: 25%;
}

.flex-itemz {
    justify-self: auto;
}

.social-media {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}

.social-media a:hover {
    text-decoration: underline;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Flex_containerz {
        padding-left: 1%;
        display: flex;
        flex-direction: column;
    }
}