.m-why {
  display: flex;
}

.content-why {
  display: flex;
}

.left-why {
  width: 50%;
}

.svg-why img {
  width: 10px;
  height: 10px;
  display: block;
}

.frst-svg-why {
  padding-top: 9px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
}

.scnd-svg-why {
  padding-top: 20px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
}

.thrd-svg-why {
  padding-top: 17px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
}

.list-why {
  margin-top: -10px;
}

.list-why ul {
  list-style: none;
  padding: 0px;
}

.right-circle {
  border-radius: 200px;
}